#mainTag {
    grid-area: main;
    overflow-y: auto;
}

.fridge__container {
    padding: 25px 25px 10px;
}

.fridge__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 15px 0;
}

.shelf_life__title {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #bbbbbb;
}

.top_card_inner {
    display: flex;
    padding: 10px;
    overflow-x: auto;
}

.fridge__card_title {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #bbbbbb;
}

.plus {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.count {
    overflow-x: auto; /*내용넘칠때 가로스크롤 표시*/
    margin-left: 10px;
    padding: 0 10px 2px 10px;
    border-radius: 20px;
    background: rgba(112, 112, 112, 0.35); /*투명도 0.35*/
    align-items: center;
    color: black;
}

.icon-ice {
    width: 23px;
    height: 23px;
    background: no-repeat url("../../assets/ice.svg");
    background-size: 23px 23px;
    margin-right: 10px;
}

.icon-cold {
    width: 23px;
    height: 23px;
    background: no-repeat url("../../assets/cold.svg");
    background-size: 23px 23px;
    margin-right: 10px;
}

.icon-fresh {
    width: 23px;
    height: 23px;
    background: no-repeat url("../../assets/vegetable.svg");
    background-size: 23px 23px;
    margin-right: 10px;
}

.icon-room-temperature {
    width: 23px;
    height: 23px;
    background: no-repeat url("../../assets/thermometer.svg");
    background-size: 23px 23px;
    margin-right: 10px;
}

.icon-seasoning {
    width: 23px;
    height: 23px;
    background: no-repeat url("../../assets/salt-shaker.svg");
    background-size: 23px 23px;
    margin-right: 10px;
}

.input-datepicker {
    border: none;
    background: #F0F0F0;
    border-radius: 10px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

@media only screen and (max-width: 978px) {
    .fridge__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 15px 0;
    }

    .shelf_life__title {
        display: flex;
        align-items: center;
        font-size: 8px;
        padding: 10px 15px;
        border-bottom: 1px solid #bbbbbb;
    }

    .fridge__card_title {
        font-size: 8px;
    }

    .plus {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-left: 10px;
    }

    .card_title > i {
        margin-left: 20px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1500px) {
    .icon_fridge_empty {
        width: 150px;
        height: 150px;
        background-size: 150px 150px;
    }
}
@media only screen and (max-width: 765px) {
    .input-datepicker {
        width: 125px;
    }
    .icon_fridge_empty {
        width: 150px;
        height: 150px;
        background-size: 150px 150px;
    }

}
@media only screen and (max-width: 370px) {
    .input-datepicker {
        width: 100px;
        margin-right: 10px;
        font-size: 10px;
    }
}
