#my {
    grid-area: main;
    overflow-y: auto;
}
.my__container {
    padding: 20px 25px 10px;
}
.icon-notice{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-right: 10px;
}
.my_title {
    padding-top: 10px;
    font-weight: 700;
    font-size: 30px;
}
.bar_title{
    font-size: 25px;
    margin-left: 220px;
    padding: 0 100px 30px 100px;
}
.my_menu_bar {
    min-width: 11rem;
    background: #f6f6f6;
    border-top: 1px solid #c9c9c9;
    float: left;
}
.my_contents {
    margin-left: 220px;
    height: auto;
    padding: 0 100px;

}
.icon_notice_fridge {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_bottom_refrigerator_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_diet_update {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_diet_update_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_diet_write {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_diet_write_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_red {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_trash_red_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_yellow {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_trash_yellow_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_green {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_trash_green_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.my_footer {
    margin: 0 25px;

}

thead{
    font-size: 13px;
    padding: 10px 0;
}
tbody {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}
th {
    padding: 20px 0;
    color: #393939;
}
tbody tr:first-child td {
    border-top: 1px solid #333;
}
td {
    padding: 20px 0;
    border-bottom: 1px solid rgb(190, 190, 190);
    color: #4C4C4C;
}

@media only screen and (max-width: 1200px) {
    .my_contents {
        padding: 0 30px;
        margin-left: 190px;
    }
    .bar_title {
        padding: 0 50px 30px 50px;
    }
}
@media only screen and (max-width: 978px) {
    .my_title {
        font-size: 25px;
    }
    .my_menu_bar {
        min-width: 7rem;
    }
    .bar_title {
        font-size: 20px;
        margin-left: 150px;
    }
    .my_contents {
        margin-left: 150px;
        padding: 0 50px;
    }
}
@media only screen and (max-width: 450px) {
    .my_title {
        font-size: 18px;
        border-top: 1px solid #707070;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .my_menu_bar {
        min-width: 7rem;
        display: flex;
        margin-bottom: 20px;
        border-top: none;
        float: none;
        justify-content: center;
    }
    .bar_title {
        margin-left: 0;
        padding: 10px 0;
        font-size: 15px;
        margin-top: 10px;
        display: none;
    }
    .my_contents {
        margin-left: 0;
        padding: 0;
    }

    th, td {
        padding: 10px 0;
    }

}
@media only screen and (max-width: 330px) {
    thead, tbody {
        font-size: 10px;
    }
}