#my {
    grid-area: main;
    overflow-y: auto;
}
.my__container {
    padding: 20px 25px 10px;
}
.icon-notice{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-right: 10px;
}
.my_title {
    padding-top: 10px;
    font-weight: 700;
    font-size: 30px;
}
.bar_title{
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-left: 220px;
}
.my_menu_bar {
    min-width: 11rem;
    background: #f6f6f6;
    border-top: 1px solid #c9c9c9;
    float: left;
}
.my_contents {
    margin-left: 220px;
    padding: 30px 0;
}
.icon_notice_fridge {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_bottom_refrigerator_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_diet_update {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_diet_update_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_diet_write {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_diet_write_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
.icon_notice_red {
    width: 21px;
    height: 21px;
    background: no-repeat url("../../assets/icon_trash_red_24px.svg");
    background-size: 21px 21px;
    margin-right: 8px;
}
@media only screen and (max-width: 978px) {
    .my_title {
        font-size: 25px;
    }
    .my_menu_bar {
        min-width: 7rem;
    }
    .bar_title {
        font-size: 20px;
        margin-left: 150px;
    }
    .my_contents {
        margin-left: 150px;
    }
}