#basket {
    grid-area: main;
    overflow-y: auto;
}
.basket__container {
    padding: 15px 25px 10px;
}

.icon-diet {
    width: 23px;
    height: 23px;
    background: no-repeat url("../../assets/diet.svg");
    background-size: 23px 23px;
    margin-right: 10px;
}
.icon-list-check {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: no-repeat url("../../assets/icon_list_check_24px.svg");
    background-size: 22px 22px;
    margin-right: 10px;
}
.icon-share {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: no-repeat url("../../assets/icon_share_24px.svg");
    background-size: 22px 22px;
}
.modal__header {
    display: flex;
}
.modal {
    background: #F6F6F6;
    height: auto;
    width: auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
}

.modal__header button {
    display: flex;
    margin-left: auto;
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.modal__body {
    padding: 20px;
}

.modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal__footer button {

    margin-left: 0.5rem;
    background: none;
    border: none;
    color: #707070;
    outline: none;
    cursor: pointer;
}
.icon_diet_empty {
    width: 100px;
    height: 100px;
    background: no-repeat url("../../assets/diet_empty.svg");
    background-size: 100px 100px;
}
.icon_basket_empty {
    width: 100px;
    height: 100px;
    background: no-repeat url("../../assets/basket_empty.svg");
    background-size: 100px 100px;
}
.down_img {
    display: flex;
    font-size: 40px;
}

.modal__footer img {
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.image__container {
    overflow: auto;
}
.footer {
    font-size: 12px;
    text-align: center;
    margin: 30px 0;
}