#sidebar {
    background: #B4CEFE;
    grid-area: sidebar;
    overflow-y: auto; /* 내용이 넘칠때만 세로 스크롤바 표시 */
    padding: 20px;
    height: 100vh;
    transition: all 0.5s;
}

.sidebar__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #393939;
    margin-bottom: 30px;
    letter-spacing: 12px; /*글자 사이 간격*/
    font-family: "Yoon", cursive;
}

.sidebar__title > h1 {
    font-size: 30px;
    padding: 10px;
    display: inline;
}

.sidebar__title > i {
    display: none;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
}

.sidebar__link {
    display: flex;
    align-items: center;
    color: #393939;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 14px;
}

.sidebar__link:hover {
    background: #F6F6F6;
}

.sidebar__link > a {
    text-decoration: none;
    color: #393939;
    font-weight: 700;
}

.sidebar__link > i {
    margin-right: 13px;
    font-size: 18px;
}

.icon-fridge {
    width: 22px;
    height: 22px;
    background: no-repeat url("../../../assets/icon_bottom_refrigerator_24px.svg");
    background-size: 22px 22px;
    margin-right: 10px;
}

.icon-basket {
    width: 22px;
    height: 22px;
    background: no-repeat url("../../../assets/icon_bottom_shopping_24px.svg");
    background-size: 22px 22px;
    margin-right: 10px;
}

.icon-recipe {
    width: 22px;
    height: 22px;
    background: no-repeat url("../../../assets/icon_bottom_food_24px.svg");
    background-size: 22px 22px;
    margin-right: 10px;
}

.icon-my {
    width: 22px;
    height: 22px;
    background: no-repeat url("../../../assets/icon_person_24px.svg");
    background-size: 22px 22px;
    margin-right: 10px;
}
/*반응형*/
.sidebar-responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: fixed;
    top: 0;
}

@media only screen and (max-width: 978px) {
    #sidebar {
        display: none;
    }

    .sidebar__title > i {
        display: block;
    }
}
