.App {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.Sidebar {
  height: 100%;
  width: 270px;
  background: #B4CEFE;
}
.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #393939;
  align-items: center;
  justify-content: center;
}
.SidebarList .row:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}
.SidebarList #active {
  background-color: lightsteelblue;
}
.row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
  font-size: 22px;
}
.row #title {
  flex: 80%;
  font-size: 0.9rem;
}
